:root {
  --primary190: #0e0714;
  --primary180: #1c0d28;
  --primary170: #2a143c;
  --primary160: #381b50;
  --primary150: #462165;
  --primary140: #542879;
  --primary130: #622f8d;
  --primary120: #7036a1;
  --primary110: #7e3cb5;
  --primary100: #8c43c9;
  --primary90: #9856ce;
  --primary80: #a369d4;
  --primary70: #af7bd9;
  --primary60: #ba8edf;
  --primary50: #c6a1e4;
  --primary40: #d1b4e9;
  --primary30: #ddc7ef;
  --primary20: #e8d9f4;
  --primary10: #f3ecfa;
}
label.label input[type='file'] {
  position: absolute;
  top: -2000px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
  background-color: #bab6be;
  border-radius: 0.625rem;
  border: 0.5rem solid #bab6be;
}
@media only screen and (min-width: 1380px) {
  html {
    font-size: 1.1rem;
  }
}
/* * {
  outline: 1px solid #f00 !important;
} */
